.App {
  background-color: #fff;
  font-family: sans-serif;
  margin: 20px;
}

header {
  margin: 20px;
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

span.role {
  color: #999;
  font-size: 14px;
  margin: 10px;
}

button {
  background-color: #1E90FF;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: #187bcd;
}